/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
*/
/*
h1 {
text-align: center;
font-weight: bold;
font-size: 30px;
line-height: 36px;
font: italic 40pt Calibri;

margin: 10px auto;
color: #555;
font:italic small-caps bold 20px georgia,garamond,serif;
text-shadow:2px 2px 8px yellow;

font: italic small-caps bold 20px georgia,garamond,serif;
text-shadow: 2px 2px 8px orange;
text-rendering: optimizelegibility;
}
*/
h1{


display: block;
font-weight: bold;
color: #555;

text-rendering: optimizelegibility;
text-align: center;
font-size: 30px;
line-height: 36px;
font: italic 40pt Calibri;
text-shadow: 2px 2px 8px yellow;
-webkit-margin-before: 0.67em;
-webkit-margin-after: 0.67em;
-webkit-margin-start: 0px;
-webkit-margin-end: 0px;


}

.content {
  background-color: #eee;
  padding: 20px;
  margin: 0 -20px; /* negative indent the amount of the padding to maintain the grid system */
  -webkit-border-radius: 0 0 6px 6px;
  -moz-border-radius: 0 0 6px 6px;
  border-radius: 0 0 6px 6px;
  -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.15);
  -moz-box-shadow: 0 1px 2px rgba(0,0,0,.15);
  box-shadow: 0 1px 2px rgba(0,0,0,.15);
}

li {
display: list-item;
text-align: -webkit-match-parent;
}
body {
color: #333;
line-height: 1.28;
text-align: left;
direction: ltr;
}

ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

#div_logo {float:left;margin-left:-7px;padding-right:1px;z-index:5}

#rfloat {
  float: right;
  display: block;
}

#pageNav {
margin-right: 1px;
}
.clearfix {
	zoom: 1;
}
#pageNav .navItem, #pageNav {
float: left;
}

.fbx #pageHead, #blueBar #pageHead {
padding-top: 6px;
width: 981px;
}

aside{
  display: block;
}
#jewelContainer {
  float: left;
  position: relative;
  z-index: 4;
}
.fbJewel {
  float: left;
  margin-right: -1px;
  position: relative;
}

body, button, input, label, select, td, textarea {
font-family: 'lucida grande',tahoma,verdana,arial,sans-serif;
font-size: 11px;
}

#pageFooter {
color: #737373;
font-size: 11px;
margin: 0 auto;
width: 980px;
}

.fbx #pageFooter {
margin: auto;
width: auto;
}

#contentCurve {
background-color: #fff;
border-bottom: 1px solid #ccc;
font-size: 1px;
height: 8px;
margin-bottom: 8px;
}

.uiGrid {
border: 0;
border-collapse: collapse;
border-spacing: 0;
}

.navigationGrid {
line-height: 20px;
width: 800px;
}


.uiGrid .hLeft {
text-align: left;
}

.navigationGrid td {
padding-right: 10px;
}



table {
word-wrap: normal;
border-collapse: separate;
border-spacing: 2px;
border-color: gray;
}
tbody {
display: table-row-group;
vertical-align: middle;
border-color: inherit;
}

tr {
display: table-row;
vertical-align: inherit;
border-color: inherit;
}
td, th {
display: table-cell;
vertical-align: inherit;
}

#pageFooter a:last-child {
margin-right: 0;
}

#pageFooter a {
text-decoration: none;
white-space: nowrap;
}

a {
color: #3b5998;
cursor: pointer;
text-decoration: none;
}
.plm {
padding-left: 10px;
}

